
@media (max-width: 480px) {
    /* Header */
    #component-header {
      max-width: 768px;
      height: 100vh;
      background-image: var(--FilterDarkBlueTransparent),
        url("./assets/imgMain.jpg");
      background-size: cover;
    }
    .OffDisplay {
      display: none;
    }
    .component-navbar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .img-navbar-LogImg {
      margin-top: var(--PaddingTop);
      width: 4rem;
      height: 4rem;
      clip-path: polygon(
        50% 0%,
        80% 10%,
        100% 35%,
        100% 70%,
        80% 90%,
        50% 100%,
        20% 90%,
        0% 70%,
        0% 35%,
        20% 10%
      );
    }
    .section-navbar-nav {
      position: relative;
      padding-top: var(--PaddingTop);
      display: flex;
      flex-direction: column;
      
    }
  
    .navbarList {
      width: 100vw;
      height: 30vh;
      position: absolute;
      
      
      top: 10%;
    }
    .navbarList>li{
      
      background-color: #000;
    }
    .active-response {
    
    }
  
    .section-navbar-btn {
      text-align: center;
      width: 3.5rem;
      height: 3rem;
      margin: var(--PaddingTop) auto;
      background-color: rgba(255, 228, 196, 0);
      border-radius: 8px;
      color: var(--LightBlueTransparent);
    }
    .section-navbar-btn > i {
      font-size: 1.5rem;
    }
    .configAnchoNav {
      text-decoration: none;
      color: var(--LightBlueTransparent);
    }
    .component-header__section {
      margin-top: 20%;
    }
    .component__header-section-text {
      width: 90%;
      color: var(--LightBlueTransparent);
      margin: 0 auto;
      text-align: center;
    }
  
    .header_textTitle {
      font-size: 3rem;
    }
  
    .header_textPagraph {
      font-size: 2rem;
    }
  
    /* Component main */
  
    #component-main {
      max-width: 32rem;
    }
    /* About */
    .section-component_about {
      width: 320px;
    
      height: 100vh;
    }
    .component_about-text {
      text-align: center;
    }
    .component_about-text > span {
      font-size: 1.2rem;
    }
    .component_about-text > h1 {
      font-size: 1.4rem;
    }
  
    /* Display painel carousel config */
    .carousel_About-Display_Btn {
      width: 100%;
      height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 2%;
    }
    .carousel_About-Display_Btn-Btn {
      height: 50%;
      width: 40%;
      font-size: 1rem;
      border: none;
      margin-bottom: 2%;
      margin-left: 2%;
    }
    /* End display painel carousel config */
  
    /* Config PN */
    .component_about-carousel_About-PN {
      display: flex;
      flex-direction: column-reverse;
    }
    /* Displays Article */
    .carousel_About-display_article {
      margin: 2% auto;
      width: 90%;
      max-height: 90vw;
      display: grid;
      row-gap: 3%;
      column-gap: 2%;
    }
    .display_article {
      min-width: 100%;
      min-height: 70%;
      text-align: center;
      background-color: var(--LightBlueTransparent);
      border-radius: 0.8rem;
    }
    .display_article > i {
      margin-top: 2%;
      font-size: 1.2rem;
    }
    .DisplayService-text {
      font-size: 1rem;
    }
    .DisplayService-descripe {
      font-size: 0.8rem;
    }
    .carousel_About-display_card {
      display: flex;
      flex-direction: column;
      margin-top: 2%;
    }
    .display_card-DisplayImgAndVideo {
      width: 40%;
      height: 40%;
      margin: 0 auto;
    }
    .display_card-DisplayImg-text {
      text-align: center;
    }
    .DisplayImcontentg-text > h1 {
      font-size: 1rem;
    }
  
    .DisplayImg-text-content > p {
      font-size: 1rem;
    }
    /* End Config PN */
  
    /* Config ND */
  
    .component_about-carousel_About-ND {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .carousel_About-ND_img {
      width: 90%;
      height: 50%;
      margin-top: 2%;
      margin-left: 5%;
    }
  
    .carousel_About-ND_valuetion {
      width: 90%;
      margin: 2% auto;
    }
    .ND_valuetion_display {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2rem;
      column-gap: 10%;
    }
    .Nd-value {
      width: 45%;
    }
  
    .Nd-value > h4 {
      text-align: center;
    }
    .Nd-value > p {
      font-size: 1rem;
      text-align: justify;
    }
  
    .Nd-value:nth-child(3) {
      width: 100%;
    }
  
    .listElementND {
      width: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .listElementND > li {
      width: 100%;
    }
    .listElementND > li > p {
      font-size: 1rem;
    }
    .listElementND > li > p > i {
      font-size: 1rem;
    }
  
    /* End Config Nossas Diretrizes */
  
    /* Init Config Outros Serviços */
    .component_about-carousel_About-OS {
      margin-top: 2%;
      display: flex;
      flex-direction: column-reverse;
    }
    .carousel_About-OS-img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2%;
      column-gap: 2%;
      padding-left: 2%;
      padding-right: 2%;
    }
    .OS-img {
      width: 100%;
      height: 100%;
    }
    /* Confing text OS */
    .carousel_About-OS-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .About-OS-text {
      width: 95%;
      margin: 2% auto;
    }
    .About-OS-text > h4 {
      font-size: 1.4rem;
      text-align: center;
    }
  
    .About-OS-text > p {
      text-align: justify;
      font-size: 1rem;
    }
  
    /* Config Services:KIT RENOVA */
  
    .component_services-kitrenova {
      margin-top: 50%;
      width: 320px;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    .services-kitrenova_container {
      height: 100vh;
    }
    .services-kitrenova_container_sec-left {
      height: 100vh;
      margin-left: 5%;
      margin-right: 2%;
      margin-top: 15%;
      background: linear-gradient(0deg, #22191cff 19%, #ff000000 99%),
        url(../../../assets/car-front.jpg) center/cover no-repeat;
      box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    }
    .kitrenova_container_sec-left-text {
      color: #e0d8d8;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 30px;
    }
    .kitrenova_container_sec-left-text > p {
      font-size: 1rem;
    }
    .work-content {
      width: 90%;
      margin: 2% auto;
      text-align: center;
    }
    .work-imgs {
      margin: 0% auto;
      display: flex;
      flex-direction: row;
      column-gap: 2%;
      width: 90%;
      height: 200px;
    }
    .work-img-1 {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url(../../../assets/car-up.jpg) center/cover no-repeat;
  
      width: 50%;
      transition: var(--transition);
    }
    .work-img-2 {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
        url(./assets/car-left.jpg) center/cover no-repeat;
      width: 50%;
      transition: var(--transition);
    }
    .work-imgs div:hover {
      box-shadow: 0 0 8px #000;
      -webkit-box-shadow: 0 0 8px #000;
      -moz-box-shadow: 0 0 8px #000;
    }
  
    .services-kitrenova_container_sec-right-h3 {
      width: 90%;
      margin: 0% auto;
      text-align: center;
    }
  
    /* Section config display services other */
    #section_component-services-other {
      height: 100vh;
      width: 100vw;
      background-color: #000;
    }
    .component-services-other_carousel-main {
      width: 100%;
      height: 100%;
    }
    .component-services-other_carousel-0 {
      height: 100%;
    }
    .component-services-other_carousel-content {
      width: 100vw;
      height: 100vh;
    }
    /* Img Config */
    .component-services-other_carousel-0 {
      display: flex;
  
      width: 100%;
      height: 100%;
    }
    .component-services-other_carousel-img-0 {
      width: 100%;
      height: 100%;
      background-image: var(--FilterDarkBlueTransparent),
        url("./assets/bgImg.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
  
    .component-services-other_carousel-img-1 {
      background-image: var(--FilterDarkBlueTransparent),
        url("./assets/policar.jpg");
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    .component-services-other_carousel-img-0,
    .component-services-other_carousel-img-1 {
      position: absolute;
    }
    .component-services-other_carousel-main-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 80%;
      margin-left: 5%;
      margin-top: 50%;
    }
  
    .ohter_carousel-main-text-article {
      color: var(--LightBlueTransparent);
      text-align: center;
    }
    .ohter_carousel-main-text-article > p {
      font-size: 1.2rem;
    }
  
    /* Config Button navigation */
    .display-Btn-Navigation-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 10%;
      position: absolute;
      top: -15%;
      left: 10%;
      
    }
    .component-other_btn-style {
      width: 40%;
      height: 5vh;
      border-radius: 4px;
      background-color: var(--FilterDarkBlueTransparent);
      color: var(--LightBlueTransparent);
      border-color: var(--LightBlueTransparent);
      font-size: 1.2rem;
      border: 0.5px solid var(--LightBlueTransparent);
    }
    .display-Btn-Navigation-0 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      height: 10%;
      margin: 0 auto;
    }
    /* Config Higienização */
    .component-services-other_carousel-1_aricle-text {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--FilterDarkBlueTransparent);
    }
    .other_carousel-1_article-text-main {
      top: 60%;
      position: absolute;
    }
    .other_carousel-1_article-title {
      font-size: 1.4rem;
    }
    .other_carousel-1_article-describe {
      width: 65%;
      text-align: left;
      font-size: 1.2rem;
    }
  
    /* Carousel Imgs 1 and 2 */
    .component-services-other_carousel-1-img-0 {
      width: 100%;
      height: 100%;
      background-image: var(--FilterDarkBlueTransparent),
        url("./assets/bgImg.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .component-services-other_carousel-2-img-1 {
      background-image: var(--FilterDarkBlueTransparent),
        url("./assets/policar.jpg");
     
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    .component-services-other_carousel-2-img-1,
    .component-services-other_carousel-1-img-0 {
      position: absolute;
    }
    .ohter_carousel-main-text-article-defaut {
      color: var(--LightBlueTransparent);
      text-align: center;
      margin-bottom: 5%;
      position: absolute;
    }
   
    
    .other_carousel-1_article-title-defaut {
      font-size: 1.4rem;
    }
    .other_carousel-1_article-describe-defaut {
      text-align: justify;
      font-size: 1.2rem;
    }
  
    /* Section Contact */
    .section_component-contact{
      
      width: 100vw;
      height: 100vh;
    }
  
    
  
  
  .section_component-contact_container{
    height: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .component-contact_container-top>h1{
    font-size: 1.4rem;
  }
  .component-contact_container-top>p{
    font-size: 1.2rem;
  }
  .component-contact_container-midle{  
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;  
    row-gap: .5%;
    margin: 0 auto;
  }
  .component-contact_container-bottom{  
    height: 50%;
    
  }
  .component-contact_container-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: #000;
    font-size: 1.4rem;
    color: var(--LightBlueTransparent);
  }
  .container-card-icon{
    font-size: 1.4rem;
  }
  .component-contact_container-bottom{
    margin: 0 auto;  
  }
  /* footer */
  .section-footer-component{
    
    margin-top: 5%;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    color: var(--LightBlueTransparent);
  }
  .footer-component-img{
    margin-top: 2%;
    background-image: url('../../../assets/logoDetalierClear.jpg');
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: contain;
    clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0% 70%,
      0% 35%,
      20% 10%
    );
    margin: 0 auto;
  }
  .footer-component_Encontrenos{
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .footer-component_Encontrenos>h5{
    font-size: 2rem;
    text-align: center;
  }
  
  .component_Encontrenos{
   
    font-size: 1.8rem;
    text-align: center;
  }
  .component_Invite{
   text-align: center;
  
  }
  .component_Invite-Btn{
    width: 2rem;
    height: 2rem;
    background-color: #000;
    color: var(--LightBlueTransparent);
    margin: 0 auto;
    border: none;
  }
  .component_Invite-Btn>i{
    font-size: 1.4rem;
  }
  
}

@media  (max-width: 320px) {
  /* Header */
  #component-header {
    width: 320px;
    height: 100vh;
    background-image: var(--FilterDarkBlueTransparent),
      url("./assets/imgMain.jpg");
    background-size: cover;
  }
  .OffDisplay {
    display: none;
  }
  .component-navbar {
    width: 100%;
    background-color: #54e685;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .img-navbar-LogImg {
    margin-top: var(--PaddingTop);
    width: 4rem;
    height: 4rem;
    clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0% 70%,
      0% 35%,
      20% 10%
    );
  }
  .active-response {
    
  }
  .navbarList{
    width: 20vw;
    font-size: 3rem;
    position: absolute;
    background-color: #e65454;
    
  }
  .section-navbar-btn {
    text-align: center;
    width: 3.5rem;
    height: 3rem;
    margin: var(--PaddingTop) auto;
    background-color: rgba(255, 228, 196, 0);
    border-radius: 8px;
    color: var(--LightBlueTransparent);
  }
  .section-navbar-btn > i {
    font-size: 1.5rem;
  }
  .configAnchoNav {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    text-align: center;
    background-color: #00000000;
  }
  .component-header__section {
    margin-top: 20%;
  }
  .component__header-section-text {
    width: 90%;
    color: var(--LightBlueTransparent);
    margin: 0 auto;
    text-align: center;
  }

  .header_textTitle {
    font-size: 3rem;
  }

  .header_textPagraph {
    font-size: 2rem;
  }

  /* Component main */

  #component-main {
    
  }
  /* About */
  .section-component_about {
    width: 320px;
    max-width: 480px;
    height: 100vh;
  }
  .component_about-text {
    text-align: center;
  }
  .component_about-text > span {
    font-size: 1.2rem;
  }
  .component_about-text > h1 {
    font-size: 1.4rem;
  }

  /* Display painel carousel config */
  .carousel_About-Display_Btn {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
  }
  .carousel_About-Display_Btn-Btn {
    height: 50%;
    width: 40%;
    font-size: 1rem;
    border: none;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  /* End display painel carousel config */

  /* Config PN */
  .component_about-carousel_About-PN {
    display: flex;
    flex-direction: column-reverse;
  }
  /* Displays Article */
  .carousel_About-display_article {
    margin: 2% auto;
    width: 90%;
    max-height: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 3%;
    column-gap: 2%;
  }
  .display_article {
    min-width: 100%;
    min-height: 70%;
    text-align: center;
    background-color: var(--LightBlueTransparent);
    border-radius: 0.8rem;
  }
  .display_article > i {
    margin-top: 2%;
    font-size: 1.2rem;
  }
  .DisplayService-text {
    font-size: 1rem;
  }
  .DisplayService-descripe {
    font-size: 0.8rem;
  }
  .carousel_About-display_card {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .display_card-DisplayImgAndVideo {
    width: 40%;
    height: 40%;
    margin: 0 auto;
  }
  .display_card-DisplayImg-text {
    text-align: center;
  }
  .DisplayImcontentg-text > h1 {
    font-size: 1rem;
  }

  .DisplayImg-text-content > p {
    font-size: 1rem;
  }
  /* End Config PN */

  /* Config ND */

  .component_about-carousel_About-ND {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .carousel_About-ND_img {
    width: 90%;
    height: 50%;
    margin-top: 2%;
    margin-left: 5%;
  }

  .carousel_About-ND_valuetion {
    width: 90%;
    margin: 2% auto;
  }
  .ND_valuetion_display {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 10%;
  }
  .Nd-value {
    width: 45%;
  }

  .Nd-value > h4 {
    text-align: center;
  }
  .Nd-value > p {
    font-size: 1rem;
    text-align: justify;
  }

  .Nd-value:nth-child(3) {
    width: 100%;
  }

  .listElementND {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .listElementND > li {
    width: 100%;
  }
  .listElementND > li > p {
    font-size: 1rem;
  }
  .listElementND > li > p > i {
    font-size: 1rem;
  }

  /* End Config Nossas Diretrizes */

  /* Init Config Outros Serviços */
  .component_about-carousel_About-OS {
    margin-top: 2%;
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel_About-OS-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2%;
    column-gap: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .OS-img {
    width: 100%;
    height: 100%;
  }
  /* Confing text OS */
  .carousel_About-OS-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .About-OS-text {
    width: 95%;
    margin: 2% auto;
  }
  .About-OS-text > h4 {
    font-size: 1.4rem;
    text-align: center;
  }

  .About-OS-text > p {
    text-align: justify;
    font-size: 1rem;
    
  }

  /* Config Services:KIT RENOVA */

  .component_services-kitrenova {
    margin-top: 70%;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .services-kitrenova_container {
    height: 100vh;
  }
  .services-kitrenova_container_sec-left {
    height: 100vh;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 20%;
    background: linear-gradient(0deg, #22191cff 19%, #ff000000 99%),
      url(../../../assets/car-front.jpg) center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  }
  .kitrenova_container_sec-left-text {
    color: #e0d8d8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
  }
  .kitrenova_container_sec-left-text > p {
    font-size: 1rem;
  }
  .work-content {
    width: 90%;
    margin: 2% auto;
    text-align: center;
  }
  .work-imgs {
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 90%;
    height: 200px;
  }
  .work-img-1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
      url(../../../assets/car-up.jpg) center/cover no-repeat;

    width: 50%;
    transition: var(--transition);
  }
  .work-img-2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
      url(../../../assets/car-left.jpg) center/cover no-repeat;
    width: 50%;
    transition: var(--transition);
  }
  .work-imgs div:hover {
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
  }

  .services-kitrenova_container_sec-right-h3 {
    width: 90%;
    margin: 0% auto;
    text-align: center;
  }

  /* Section config display services other */
  #section_component-services-other {
    height: 100vh;
  }
  .component-services-other_carousel-main {
    width: 100%;
    height: 100%;
  }
  .component-services-other_carousel-0 {
    height: 100%;
  }
  .component-services-other_carousel-content {
    width: 100vw;
    height: 100vh;
  }
  /* Img Config */
  .component-services-other_carousel-0 {
    display: flex;

    width: 100%;
    height: 100%;
  }
  .component-services-other_carousel-img-0 {
    width: 100%;
    height: 100%;
    background-image: var(--FilterDarkBlueTransparent),
      url("./assets/bgImg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  .component-services-other_carousel-img-1 {
    background-image: var(--FilterDarkBlueTransparent),
      url("./assets/policar.jpg");
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .component-services-other_carousel-img-0,
  .component-services-other_carousel-img-1 {
    position: absolute;
  }
  .component-services-other_carousel-main-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 50%;
  }

  .ohter_carousel-main-text-article {
    color: var(--LightBlueTransparent);
    text-align: center;
  }
  .ohter_carousel-main-text-article > p {
    font-size: 1.2rem;
  }

  /* Config Button navigation */
  .display-Btn-Navigation-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    position: absolute;
    top: -70%;
    left: 10%;
    
  }
  .component-other_btn-style {
    width: 40%;
    height: 5vh;
    border-radius: 4px;
    background-color: var(--FilterDarkBlueTransparent);
    color: var(--LightBlueTransparent);
    border-color: var(--LightBlueTransparent);
    font-size: 1.2rem;
    border: 0.5px solid var(--LightBlueTransparent);
  }
  .display-Btn-Navigation-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin: 0 auto;
  }
  /* Config Higienização */
  .component-services-other_carousel-1_aricle-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--FilterDarkBlueTransparent);
  }
  .other_carousel-1_article-text-main {
    top: 60%;
    position: absolute;
  }
  .other_carousel-1_article-title {
    font-size: 1.4rem;
  }
  .other_carousel-1_article-describe {
    width: 65%;
    text-align: left;
    font-size: 1.2rem;
  }

  /* Carousel Imgs 1 and 2 */
  .component-services-other_carousel-1-img-0 {
    width: 100%;
    height: 100%;
    background-image: var(--FilterDarkBlueTransparent),
      url("./assets/bgImg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .component-services-other_carousel-2-img-1 {
    background-image: var(--FilterDarkBlueTransparent),
      url("./assets/policar.jpg");
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .component-services-other_carousel-2-img-1,
  .component-services-other_carousel-1-img-0 {
    position: absolute;
  }
  .ohter_carousel-main-text-article-defaut {
    color: var(--LightBlueTransparent);
    text-align: center;
    margin-bottom: 5%;
    position: absolute;
  }
 
  
  .other_carousel-1_article-title-defaut {
    font-size: 1.4rem;
  }
  .other_carousel-1_article-describe-defaut {
    text-align: justify;
    font-size: 1.2rem;
  }

  /* Section Contact */
  .section_component-contact{
    width: 100%;
    height: 100vh;
  }

  


.section_component-contact_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.component-contact_container-top>h1{
  font-size: 1.4rem;
}
.component-contact_container-top>p{
  font-size: 1.2rem;
}
.component-contact_container-midle{  
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;  
  row-gap: .5%;
  margin: 0 auto;
}
.component-contact_container-bottom{  
  height: 50%;
  
}
.component-contact_container-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  background-color: #000;
  font-size: 1.4rem;
  color: var(--LightBlueTransparent);
}
.container-card-icon{
  font-size: 1.4rem;
}
.contact_container-bottom-frame{
  width: 320px;
 
  height: 100%;
}
/* footer */
.section-footer-component{

  width: 100vw;
  margin-top: 5%;
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  color: var(--LightBlueTransparent);
}
.footer-component-img{
  margin-top: 2%;
  background-image: url('../../../assets/logoDetalierClear.jpg');
  width: 5rem;
  height: 5rem;
  background-position: center;
  background-size: contain;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
  margin: 0 auto;
}
.footer-component_Encontrenos{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.footer-component_Encontrenos>h5{
  font-size: 2rem;
  text-align: center;
}

.component_Encontrenos{
 
  font-size: 1.8rem;
  text-align: center;
}
.component_Invite{
 text-align: center;

}
.component_Invite-Btn{
  width: 2rem;
  height: 2rem;
  background-color: #000;
  color: var(--LightBlueTransparent);
  margin: 0 auto;
  border: none;
}
.component_Invite-Btn>i{
  font-size: 1.4rem;
}
}
